
.icon-vk:before { content: '\e800'; } /* '' */
.icon-viber:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-top:before { content: '\e803'; } /* '' */
.icon-time:before { content: '\e804'; } /* '' */
.icon-telephone:before { content: '\e805'; } /* '' */
.icon-telegram:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-right:before { content: '\e808'; } /* '' */
.icon-market:before { content: '\e809'; } /* '' */
.icon-insta:before { content: '\e80a'; } /* '' */
