@import "fonts";
@import "null";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: #E5E5E5;
  font-family: 'SF Pro Display';

  &.noscroll {
    overflow: hidden;
  }
}


.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1199px) {
    padding: 0 20px;
  }
}

// ----------------------------
//  NAVBAR
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 10;

  @media (max-width: 479px) {
    padding: 10px 0;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-burger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding-top: 10px;

    // & img.active {
    //   left: 32%;
    //   //   transition: 1s;
    // }

    // &.active {
    //   left: 32%;
    //   transition: 1s;
    // }

    // & span {
    //   width: 30px;
    //   height: 2px;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   background-color: #fff;
    //   transition: all 0.5s;
    // }

    // & span:nth-of-type(2) {
    //   top: calc(50% - 5px);
    // }

    // & span:nth-of-type(3) {
    //   top: calc(50% + 5px);
    // }

    // &.active span {
    //   background-color: black;
    // }

    // /* Меняем гамбургер иконку, когда меню открыто */
    // &.active span:nth-of-type(1) {
    //   display: none;
    // }

    // &.active span:nth-of-type(2) {
    //   top: 50%;
    //   transform: translate(-50%, 0%) rotate(45deg);
    // }

    // &.active span:nth-of-type(3) {
    //   top: 50%;
    //   transform: translate(-50%, 0%) rotate(-45deg);
    // }

    /* Меню, которое будет появляться */
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      padding: 15px 65px;
      background: #FFFFFFE5;
      transform: translateX(-100%);
      transition: transform 0.5s;
      display: flex;
      justify-content: start;
      align-items: flex-start;
      padding-top: 106px;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 150;

      &.active {
        transform: translateX(0);
      }

      @media (max-width: 992px) {
        width: 80%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &__links {
      position: relative;


      >li {
        position: relative;
        list-style-type: none;

        >a {
          @media (min-width: 992px) {
            display: flex;
            align-items: center;

            &:after {
              content: "";
              display: block;
              width: 0;
              margin: 0 30px;
              background-color: grey;
              height: 1px;
              transition: 0.6s;
            }
          }
        }

        @media (min-width: 992px) {
          &:hover {
            a {
              &:after {
                flex: 1 1 auto;
                width: auto;
              }
            }

            .navbar-burger__links-two {
              transform: scaleY(1);
              opacity: 1;
            }
          }
        }
      }
    }


    &__links a {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      color: #363636;
      margin-bottom: 20px;
      display: inline-block;

      &:hover {
        transition: 0.5s;
        text-shadow: 1px 1px 1px #50626C;
      }
    }

    &__links-two {
      @media (min-width: 992px) {
        position: absolute;
        transform: scaleY(0);
        transform-origin: 0 0;
        opacity: 0;
        left: 100%;
        top: -40px;
        width: 200px;
        transition: 0.6s;
      }

      & a {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 12px;
        color: #363636;
        display: inline-block;

        &:hover {
          transition: 0.5s;
          text-shadow: 1px 1px 1px #688290;
        }
      }
    }
  }



  &-navigation {
    display: flex;
    align-items: center;

    &__search-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      display: flex;
      align-items: center;
    }

    &__search-img {
      margin-right: 10px;

      & i {
        color: #FFFFFF;
      }
    }

    &__search {
      margin-right: 20px;

      & input::placeholder {
        color: #FFFFFF;
        opacity: 1;
      }

      & input {
        background: transparent;
        border-bottom: 1px solid #FFFFFF;
        color: white;
      }

    }

    &__icon-user {
      margin-right: 20px;

      & i {
        color: #FFFFFF;
        cursor: pointer;

        &:hover {
          transition: 0.3s;
          text-shadow: 1px 1px 8px #dae0e3;
        }
      }

      @media (max-width: 767px) {
        margin-right: 10px;
      }
    }

    &__icon-market {
      & i {
        color: #FFFFFF;
        cursor: pointer;

        &:hover {
          transition: 0.3s;
          text-shadow: 1px 1px 8px #dae0e3;
        }
      }
    }
  }
}

.close {
  display: none;

  &.active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000000;
    cursor: pointer;
    padding: 25px 35px 0 0;
  }
}

.open {
  cursor: pointer;
}

// -----------------------
// HEADER
.header {
  &-content {
    position: relative;
  }

  &-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-img-cover {
    width: 100%;

    & img {
      width: 100%;
    }
  }

  &-title {
    max-width: 650px;

    & h1 {
      font-family: 'Nordin Free';
      font-weight: 400;
      font-size: 200px;
      line-height: 1;
      /* identical to box height, or 12% */
      color: #FFFFFF;

      @media (max-width: 991px) {
        font-size: 150px;
        text-align: center;
      }

      @media (max-width: 767px) {
        font-size: 120px;
      }

      @media (max-width: 667px) {
        font-size: 100px;
      }

      @media (max-width: 499px) {
        font-size: 70px;
      }

      @media (max-width: 424px) {
        font-size: 50px;
        margin-top: 20px;
      }
    }
  }

  &-subtitle {
    max-width: 417px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
    /* identical to box height, or 46% */
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 40px;
      text-align: center;
      margin-bottom: 25px;
    }

    @media (max-width: 767px) {
      font-size: 30px;
    }

    @media (max-width: 667px) {
      font-size: 20px;
    }

    @media (max-width: 499px) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }


  &-nav__btn {
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    padding: 18px 35px 18px 35px;

    &:hover {
      transition: 0.3s;
      box-shadow: 1px 1px 9px #cacfd1;
    }

    @media (max-width: 767px) {
      padding: 10px 15px 10px 15px;
    }


  }


  &-nav__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    /* identical to box height, or 227% */
    color: #FFFFFF;
    margin-right: 20px;

    &:hover {
      transition: 0.3s;
      text-shadow: 2px 2px 3px #f9fdff;
    }

    @media (max-width: 667px) {
      font-size: 14px;
      line-height: 24px;
    }

    @media (max-width: 499px) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &-nav__icon {
    & img {
      width: 38px;
      height: 3px;
      margin-top: 6px;

      @media (max-width: 499px) {
        width: 28px;
      }
    }
  }

  &-contact__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  &-contact {
    // display: flex;
    // align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;

    &-phone span {
      font-weight: 500;
      font-size: 15px;
      line-height: 23px;
      /* identical to box height, or 153% */
      color: #FFFFFF;

      &:hover {
        transition: 0.3s;
        text-shadow: 2px 2px 3px #fdfeff;
      }

      @media (max-width: 667px) {
        font-size: 14px;
        line-height: 18px;
      }
    }

    @media (max-width: 667px) {
      bottom: 7px;
    }

    @media (max-width: 499px) {
      bottom: 0;
    }

    @media (max-width: 424px) {
      display: none;
    }

    &-graphik {
      font-weight: 500;
      font-size: 15px;
      line-height: 23px;
      /* or 153% */
      width: 106px;
      height: 46px;
      color: #FFFFFF;
      margin-left: 40px;

      @media (max-width: 667px) {
        font-size: 14px;
        line-height: 18px;
        margin-left: 20px;
      }
    }
  }

}

// ------------------
//  Табы / TABS
.tabs {
  padding-top: 100px;

  @media (max-width: 991px) {
    padding-top: 50px;
  }

  @media (max-width: 479px) {
    padding-top: 30px;
  }

  &__container {
    @media(max-width: 767px) {
      text-align: center;
    }
  }
}

.b-tab {
  padding: 20px;
  display: none;
}

.b-tab.active {
  display: block;
}

.b-nav-tab {
  display: inline-block;
  padding: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  /* identical to box height, or 77% */
  color: #CCCCCC;
  cursor: pointer;

  &:hover {
    color: #908c8c;
    transition: 0.6s;
  }

  @media (max-width: 479px) {
    font-size: 25px;
    padding: 10px;
  }
}

.b-nav-tab.active {
  font-weight: 600;
  font-size: 30px;
  line-height: 23px;
  /* identical to box height, or 77% */
  color: #363636;

  @media (max-width: 479px) {
    font-size: 25px;
    padding: 10px;
  }
}

// -------
.new__promotion {
  margin-bottom: 180px;
}

.new__text {
  padding: 64px 0 180px 0;

  @media (max-width: 992px) {
    padding: 34px 0 80px 0;
  }

  @media (max-width: 767px) {
    padding: 34px 0 60px 0;
  }

  @media (max-width: 479px) {
    padding: 20px 0 30px 0;
  }


  &-container-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #363636;
    text-align: center;
    margin-bottom: 80px;
  }

  &-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

  }

  &-flexbox {
    max-width: 229px;
    width: 100%;
    margin-bottom: 34px;

  }

  &-img {
    background: #50626C;
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 50px 35px;

    & img {
      max-width: 159px;
      width: 100%;
    }

    @media (max-width: 479px) {
      margin-right: 0px;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* or 128% */

    text-align: center;
    margin-bottom: 20px;
    color: #363636;
  }


  &-social {
    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      /* identical to box height, or 115% */
      color: #363636;
      margin-bottom: 23px;
    }

    &-list {
      margin-bottom: 52px;

      li {
        display: inline-block;
      }
    }

    &-icon {
      width: 19px;
      height: 18px;
      color: #363636;
      margin-right: 24px;

      &:hover {
        transition: 0.3s;
        text-shadow: 1px 1px 2px #50626C;
        color: #15191b;
      }
    }
  }

  &-info {
    &-subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 34px;
      /* identical to box height, or 283% */
      margin-left: 10px;
      color: #363636;
    }

    &-subtitle-container {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      & img {
        padding: 2px;
        border: 0.5px solid #363636;
        border-radius: 50%;
      }
    }

    &-txt {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      /* or 133% */
      color: #363636;
    }

    &-btn {
      display: flex;
      align-items: center;

      &-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 34px;
        /* identical to box height, or 283% */
        margin-right: 13px;
        color: #363636;

        &:hover {
          transition: 0.3s;
          text-shadow: 1px 2px 2px #688290;
        }
      }
    }
  }

  &-btn {
    display: inline-block;
    background: #50626C;
    text-align: center;
    padding: 0 78px;

    & span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 34px;
      color: #FFFFFF;
    }
  }
}



// ------------------
.category {
  margin-bottom: 108px;

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
    /* identical to box height, or 58% */
    color: #363636;
    margin-bottom: 80px;

    @media (max-width: 668px) {
      margin-bottom: 40px;
    }

    @media (max-width: 479px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 668px) {
    margin-bottom: 30px;
  }
}

.image-slider {
  position: relative;
}

.image-slider__image img {
  width: 100%;
}

.swiper-arrows {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.swiper-prev,
.swiper-next {
  // @include flex(flex, center, center);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363636;
  width: 50px;
  height: 50px;
  border: solid 1px #363636;
  border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    background-color: #363636;
    color: white;
    transition: 0.5s;
  }

}




// ------------------
// Article / СТАТЬИ

.article {
  margin-bottom: 21px;

  &__card {
    position: relative;
    display: block;
    padding: 123px 93px 44px 57px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    background: #fff;

    &:hover {
      transition: 0.4s;
      box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
    }


    @media (max-width: 1199px) {
      margin-right: 15px;
    }

    @media (max-width: 992px) {
      padding: 100px 93px 44px 57px;
    }

    @media (max-width: 479px) {
      padding: 100px 23px 14px 37px;
    }

    @media (max-width: 355px) {
      padding: 60px 23px 14px 37px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
    /* identical to box height, or 58% */
    margin-bottom: 117px;
    color: #363636;

    @media(max-width: 479px) {
      font-size: 30px;
      margin-bottom: 127px;
    }
  }

  &__flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // flex-wrap: wrap;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__flexbox {
    max-width: 565px;
    width: 100%;

    @media (max-width: 992px) {
      margin-bottom: 120px;
    }

    @media (max-width: 479px) {
      &:last-child {
        margin-bottom: 40px;
      }
    }
  }

  &__card-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #50626C;
    margin-bottom: 12px;

    @media (max-width: 1199px) {
      font-size: 25px;
      line-height: 1;
    }

    @media (max-width: 479px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #50626C;

    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 20px;
    }

    @media (max-width: 479px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__card-img {
    position: absolute;
    top: -87px;
    left: 0;
    right: 0;
    text-align: center;

    img {
      max-width: 344px;
      width: 100%;
    }
  }
}

// ------------------
//PLANING

.planing {
  margin-bottom: 159px;

  @media(max-width: 479px) {
    margin-bottom: 59px;
  }

  &__container {
    background: #50626C;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 29px;
    padding: 25px 38px 49px 50px;
    text-align: center;

    &:hover {
      transition: 0.4s;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
      background: #576c78;
    }

    @media (max-width: 479px) {
      padding: 20px 20px 20px 20px;
    }
  }

  &__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: left;
    padding-bottom: 5px;

    @media (max-width: 479px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: left;

    @media (max-width: 479px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__img {
    margin-bottom: 10px;

    & img {
      max-width: 426px;
      width: 100%;
    }
  }

}

// ------------------
// reviews

.reviews {
  padding-bottom: 50px;

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
    /* identical to box height, or 58% */
    color: #363636;
    margin-bottom: 104px;

    @media (max-width: 479px) {
      font-size: 30px;
      margin-bottom: 64px;
    }
  }

  &__flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card {
    background: #fff;
    max-width: 373px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 20px;

    &:hover {
      transition: 0.5s;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
    }

    @media (max-width: 767px) {
      padding: 30px 45px;
      margin: 0 auto;
    }

    &-img {
      margin-bottom: 30px;

      & img {
        max-width: 182px;
        width: 100%;
      }

    }

    &-title {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      /* or 115% */
      margin-bottom: 13px;
      color: #50626C;

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 20px;
        /* or 115% */
        margin-bottom: 10px;
      }

      @media (max-width: 667px) {
        font-size: 20px;
        line-height: 23px;
        /* or 115% */
        margin-bottom: 13px;
      }
    }

    &-text {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 34px;
      /* identical to box height, or 227% */
      color: #50626C;
    }
  }
}

// ------------------
// SUBSCRIPTION

.subscription {
  padding-bottom: 114px;
  padding-top: 50px;

  @media (max-width: 479px) {
    padding-bottom: 50px;
  }

  &__flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .subscription-form {
    padding: 45px 25px 48px 25px;
    background: #FFFFFF;
    border: 1px solid #E4E5E4;

    @media (max-width: 767px) {
      padding: 25px 15px 25px 15px;
    }
  }

  &-form__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #606060;
    margin-bottom: 30px;
  }

  &-form__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    color: #606060;
    margin-bottom: 14px;
  }


  &-form__name {
    margin-bottom: 21px;
    border: 1px solid #E4E5E4;
    // padding: 25px 150px;
    width: 437px;
    height: 73px;
    font-size: 26px;
    padding-left: 10px;

    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    @media (max-width: 767px) {
      width: 337px;
      height: 53px;
      font-size: 20px;
    }

    @media (max-width: 479px) {
      width: 237px;
      height: 33px;
      font-size: 18px;
    }
  }

  &-form__email {
    margin-bottom: 38px;
    border: 1px solid #E4E5E4;
    // padding: 25px 150px;
    width: 437px;
    height: 73px;
    font-size: 26px;
    padding-left: 10px;

    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    @media (max-width: 767px) {
      width: 337px;
      height: 53px;
      font-size: 20px;
    }

    @media (max-width: 479px) {
      width: 237px;
      height: 33px;
      font-size: 18px;
    }
  }

  &-form__btn {
    background: #50626C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 35px 18px 35px;


    &:hover {
      box-shadow: 1px 2px 8px #2d363b;
      transition: 0.5s;
    }
  }

  &-form__btn-txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 34px;
    /* identical to box height, or 227% */
    color: #FFFFFF;
    margin-right: 23px;


    &:hover {
      text-shadow: 1px 2px 8px #CCCCCC;
      transition: 0.5s;
    }
  }

  &__img img {
    max-width: 532px;
    width: 100%;
  }
}

// ------------------
// FOOTER
.footer {


  &-container {
    padding: 85px 0;
    border-top: 1px solid #A4A4A4;
  }


  &-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &-nav__title {
    margin-bottom: 27px;

    & a {
      font-family: 'SF Pro Display';
      font-weight: 600;
      font-size: 22px;
      line-height: 23px;
      /* identical to box height, or 105% */
      color: #363636;

      &:hover {
        transition: 0.5s;
        text-shadow: 1px 1px 1px #0f0f0f;
        text-decoration: underline;
      }
    }
  }

  &-nav__link {
    margin-bottom: 13px;

    & a {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      /* identical to box height, or 128% */

      color: #363636;

      &:hover {
        transition: 0.5s;
        text-shadow: 1px 1px 1px #0f0f0f;
        text-decoration: underline;
      }
    }
  }

  &-social {

    &__title {
      margin: 24px 0 30px 0;

      & a {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height, or 115% */
        text-align: center;
        color: #363636;

        &:hover {
          transition: 0.5s;
          text-shadow: 1px 1px 1px #0f0f0f;
          text-decoration: underline;
        }
      }
    }

    &__list li {
      display: inline-block;
    }

    &__icon {
      width: 19px;
      height: 18px;
      color: #363636;
      margin-right: 24px;

      &:hover {
        transition: 0.5s;
        text-shadow: 1px 1px 1px #0f0f0f;
      }
    }
  }

  &-nav__links {
    margin-left: 20px;
  }

  &-flexbox {
    @media (max-width: 991px) {
      margin-right: 15px;
    }
  }

  &-flexbox__nav {
    margin-top: 40px;
  }

  &-logo__img {
    margin-bottom: 13px;
  }

  &-flexbox__logo {
    text-align: center;
  }

  &-telephone {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &-grafik {
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      width: 114px;
      font-weight: 500;
      font-size: 15px;
      line-height: 23px;
      /* identical to box height, or 153% */
      color: #363636;
    }

    &-icon {
      margin-right: 21px;

      & i {
        color: #363636;
        width: 23px;
        height: 23px;
      }

    }
  }

  &-number {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    /* identical to box height, or 153% */
    color: #363636;

    &:hover {
      transition: 0.5s;
      text-shadow: 1px 1px 1px #0f0f0f;
    }
  }


  &-contact-icon {
    margin-right: 14px;

    & i {
      color: #363636;
      width: 19px;
      height: 19px;
    }
  }



  &-down {
    background: #001420;
    padding: 40px 0;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-scroll-top {
    &__wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      /* identical to box height, or 128% */
      margin-right: 18px;
      color: #FFFFFF;

      &:hover {
        transition: 0.5s;
        text-shadow: 2px 2px 5px #efe4e4;
      }

      @media(max-width: 479px) {
        font-size: 16px;
      }
    }

    &__icon {
      color: #FFFFFF;

      & i {
        width: 22px;
        height: 3px;
      }
    }
  }

  &-down__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
  }
}

.flexbox-flex {
  display: flex;
}

.overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  &.active {
    visibility: visible;
  }
}

// ------------------------
// Ordering
// ОФОРМЛЕНИЕ
.header-title__ordering {
  margin-bottom: 70px;

  @media (max-width: 992px) {
    margin-bottom: 60px;
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media (max-width: 479px) {
    margin-bottom: 20px;
  }

  @media (max-width: 424px) {
    margin-bottom: 15px;
  }

  h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 23px;
    /* identical to box height, or 15% */
    letter-spacing: -0.04em;
    color: #FFFFFF;

    @media (max-width: 1199px) {
      font-size: 100px;
      text-align: center;
    }

    @media (max-width: 991px) {
      font-size: 90px;
      text-align: center;
    }

    @media (max-width: 767px) {
      font-size: 80px;
    }

    @media (max-width: 667px) {
      font-size: 70px;
    }

    @media (max-width: 575px) {
      font-size: 50px;
    }

    @media (max-width: 424px) {
      font-size: 40px;
      margin-top: 40px;
    }

    @media (max-width: 354px) {
      font-size: 30px;
      margin-top: 40px;
    }
  }
}


// -------------------
// ordering-main
.basket {
  margin: 121px 0 85px 0;

  @media (max-width: 767px) {
    margin: 50px 0 45px 0;
  }

  @media (max-width: 479px) {
    margin: 20px 0 25px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
    /* identical to box height, or 58% */
    color: #363636;
    margin-bottom: 80px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
      font-size: 30px;
    }

    @media (max-width: 479px) {
      font-size: 25px;
    }
  }

  &__total {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #606060;
    text-align: right;
  }

  &__shop-card {
    background-color: #FFFFFF;
    border: 1px solid #E4E5E4;
    padding: 40px 98px 60px 98px;

    @media (max-width: 767px) {
      padding: 20px;
    }

    &-table {
      // border-bottom: 1px solid #50626C;
      padding-bottom: 19px;
    }

    &-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 25px;
      color: #606060;
      text-align: center;
      margin-bottom: 20px;

      @media (max-width: 479px) {
        font-size: 20px;
      }
    }

    &-subtitle {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      /* identical to box height, or 139% */
      text-align: center;
      color: #606060;
      margin-bottom: 57px;

      @media (max-width: 479px) {
        font-size: 16px;
      }

      & span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #50626C;

        @media (max-width: 479px) {
          font-size: 16px;
        }
      }
    }


    // &-name {
    //   font-weight: 600;
    //   font-size: 18px;
    //   line-height: 25px;
    //   /* identical to box height, or 139% */
    //   text-align: center;
    //   color: #606060;
    //   margin-bottom: 25px;
    //   // margin-right: 80px;
    // }

    // &-name-i {
    //   margin-right: 110px;

    //   @media (max-width: 1199px) {
    //     margin-right: 90px;
    //   }
    // }

    // &-name-a {
    //   margin-left: 60px;

    //   @media (max-width: 1199px) {
    //     // margin-: 50px;
    //   }
    // }
  }

  // &__flex-container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-start;
  // }

  // &__flexbox {
  //   // width: 33%;
  //   display: flex;
  //   justify-content: start;
  //   align-items: flex-start;
  //   // flex-direction: column;
  // }

  // &__product-flex-container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   margin: 20px 0;
  // }

  // &__product-img {
  //   & img {
  //     max-width: 130px;
  //   }
}


// &__product-description {
//   font-family: 'Gilroy';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 23px;
//   /* identical to box height, or 115% */
//   color: #50626C;
//   padding: 10 20px;
// }

// &__product-amount {
//   padding: 10px 20px;
//   background-color: #F1F1F1;
// }








.form {
  margin-top: 40px;
  margin-bottom: 66px;

  &-customer,
  &-address {
    border: 1px solid #E4E5E4;
    background-color: #fff;
    padding: 47px 30px 57px 34px;
    margin-bottom: 24px;
  }

  &-methods__info-container,
  &-payment__info {
    border: 1px solid #E4E5E4;
    background-color: #fff;
    padding: 47px 30px 47px 34px;
    margin-bottom: 24px;

    @media (max-width: 991px) {
      max-width: 70%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    @media (max-width: 767px) {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 991px) {
      display: block;
    }
  }


  &-flexbox-left {
    max-width: calc(55%);

    @media (max-width: 991px) {
      margin: 0 auto;
      max-width: 70%;
    }

    @media (max-width: 767px) {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &-flexbox-right {
    width: calc(43%);

    @media (max-width: 991px) {
      // display: flex;
      // justify-content: space-between;
      // align-items: flex-start;
      width: 100%;
      // margin: 0 auto;
    }


  }

  &-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    color: #606060;
    margin-bottom: 35px;

    @media (max-width: 479px) {
      font-size: 20px;
    }
  }

  &-info-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #606060;
    max-width: 232px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }

    @media (max-width: 479px) {
      font-size: 16px;
    }
  }

  // &-info-txt {
  //   margin-left: 10px;
  // }

  &-info__contain {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      display: block;
    }

  }

  .info-contain {
    margin-bottom: 15px;
  }

  &-info__input {
    margin-right: 24px;
  }


  .info__input-text {
    width: 360%;
    width: 100%;
    height: 66px;
    border: 1px solid #E4E5E4;
    font-size: 18px;
    padding-left: 10px;

    @media (max-width: 991px) {
      width: 290px;

    }

    @media (max-width: 767px) {
      width: 100%;

    }

    // @media (max-width: 667px) {
    //   width: 250px;
    //   height: 56px;
    // }
  }

  &-info__radio {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      display: block;
    }
  }

  .info__input-radio {
    margin-right: 10px;
  }

  &-customer__radio-text {
    margin-right: 50px;
    width: 50%;
  }

  &-customer__input-radio-container {
    margin-right: 50px;
  }

  &-comment {
    border: 1px solid #E4E5E4;
    background-color: #fff;
    padding: 35px;
    margin-bottom: 40px;
  }

  &-comment__textarea {
    width: 100%;
    height: 126px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #3f3d3d;
    font-weight: 400;
    border: 1px solid #E4E5E4;
  }

  &-button__container {
    display: flex;
    justify-content: right;

  }

  &-submit {
    background-color: #50626C;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    /* identical to box height, or 227% */


    color: #FFFFFF;
  }

  &-button {
    display: inline-block;
    padding: 12px 30px 12px 42px;
    background-color: #50626C;

    img {
      margin-top: 7px;
      margin-left: 20px;
    }
  }
}




table {
  width: 100%;
}

table th {
  white-space: nowrap;
}

.table-wrap {
  overflow: auto;
}

.table-container {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

th {
  text-align: start;
}

.table-img img {
  max-width: 130px;
}



// ---------------------
// CONTACTS
.map {
  position: relative;
  padding: 93px 0 111px 0;

  @media (max-width: 991px) {
    padding: 43px 0 61px 0;
  }

  @media (max-width: 767px) {
    padding: 23px 0 31px 0;
  }
}

#map {

  height: 560px;
  /* The height is 400 pixels */
  width: 80%;

  /* The width is the width of the web page */
  @media(max-width: 991px) {
    width: 100%;

  }
}

.map-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  /* identical to box height, or 58% */
  color: #363636;
  margin-bottom: 58px;

  @media (max-width: 991px) {
    margin-bottom: 28px;
    font-size: 35px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.map-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 108.9%;
  /* or 22px */
  letter-spacing: 0.165em;
  color: #363636;
  margin-bottom: 136px;

  @media (max-width: 991px) {
    margin-bottom: 50px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }

  @media (max-width: 479px) {
    line-height: 25px;
    letter-spacing: 0ch;
    text-align: center;
  }

  @media (max-width: 399px) {
    font-size: 16px;
    line-height: 22px;
  }
}


// ---------------------
// ABOUT
.about {
  position: absolute;
  right: 15%;
  top: 30%;
  max-width: 605px;
  background: rgba(0, 0, 0, 0.48);

  @media(max-width: 1200px) {
    right: 0;
    top: 25%;
  }

  @media(max-width: 991px) {
    position: unset;
    margin: auto;
    margin-top: 60px;
    max-width: 100%;
  }


  &-container {
    padding: 58px 8px 58px 58px;

    @media(max-width: 991px) {
      padding: 28px 8px 28px 28px;
    }

    @media (max-width: 479px) {
      padding: 20px 0;
    }
  }

  &-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: 479px) {
      margin-bottom: 30px;
    }
  }

  &-info-text {
    width: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 108.9%;
    /* or 22px */
    letter-spacing: 0.165em;
    color: #FFFFFF;
    text-align: left;


    & span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 108.9%;
      /* or 22px */
      letter-spacing: 0.165em;
      color: #FFFFFF;

      &:hover {
        color: red;
      }

      @media (max-width: 991px) {
        line-height: 30px;
        font-size: 25px;
        letter-spacing: 0;
        width: 40%;
      }

      @media (max-width: 767px) {
        width: 100%;
        font-size: 30px;
        line-height: 38px;
      }

      @media (max-width: 479px) {
        font-size: 22px;
        line-height: 28px;
      }
    }

    @media (max-width: 991px) {
      line-height: 30px;
      font-size: 25px;
      letter-spacing: 0;
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
      font-size: 25px;
      line-height: 34px;
    }

    @media (max-width: 479px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &-info-title {
    width: 199px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 108.9%;
    /* or 22px */
    letter-spacing: 0.165em;
    color: #FFFFFF;

    @media (max-width: 991px) {
      line-height: 35px;
      font-size: 30px;
      letter-spacing: 0;
      width: 40%;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
      width: 100%;
      font-size: 30px;
      line-height: 38px;
    }

    @media (max-width: 479px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}